@charset "utf-8";
/* CSS Document */
body{
background-color:antiquewhite
}

h1{
	color:gray
}

p{
	color:saddlebrown
}


h1{
	text-align: center
}

a{
	text-decoration: none
}

#firstp{
	line-height: 5;
}

p{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}

#firstp{color:lightslategray}

.blue{color: chocolate}

.red{color: midnightblue}